dist: bionic

language: go
go:
  - 1.11
env:
  global:
    - PKG_CONFIG_PATH=$PKG_CONFIG_PATH:$TRAVIS_BUILD_DIR/.config
    - GO111MODULE=on  

matrix:
  include:
    # Ubuntu Linux 18.04 gcc
    - os: linux
      compiler: gcc
      env: 
        - LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib 
      before_install:
        - sudo apt-get install cmake ninja-build
        # Install liboqs
        - sh ./.travis/install_liboqs.sh &>/dev/null  

    # Apple OSX LLVM version 10.0.0 (clang-1000.11.45.5)
    - os: osx
      osx_image: xcode10.1
      compiler: clang
      before_install:
        - rm -rf /usr/local/include/c++
        - brew update
        - brew install gcc6 ninja
        # Install liboqs
        - sh ./.travis/install_liboqs.sh &>/dev/null  

    # OSX gcc6
    - os: osx
      osx_image: xcode10.1
      compiler: gcc
      before_install:
        - rm -rf /usr/local/include/c++
        - brew update
        - brew install gcc6 ninja
        - export CXX="g++-6" CC="gcc-6"
        - sudo softwareupdate -i "Command Line Tools (macOS High Sierra version 10.13) for Xcode-10.1"
        # Install liboqs
        - sh ./.travis/install_liboqs.sh &>/dev/null  

notifications:
  email: false

script:
  # Run the examples
  - go run examples/kem/kem.go
  - go run examples/rand/rand.go
  - go run examples/sig/sig.go

  # Run the unit tests
  - go test -v oqstests/*
